@model IEnumerable<E_Commerce_Final.Models.Entities.Order>

@{
    ViewData["Title"] = "Homee";
}

<h1>Homee</h1>

<td><a asp-action="Create" class="btn btn-primary">Create New</a></td>
<td>
    <a asp-action="GetAllOrders" class="btn btn-primary">all orders</a>
</td>

       
